body {
    /* padding: 10px; */
    background-color: #ffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 80vw;
    padding: 10px 10px;
    margin: 0 auto;
}

.cart-logo {
    height: 80px;
    padding: 0 auto;
    margin: 10px 10px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    padding: 0px 20px 0px 20px;
}

#total,
#amount {
    color: black;
}

section {
    justify-content: center;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

#items {
    justify-content: center;
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    width: 40vw;
    padding: 10px;
}

#items li {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
}

#cart {
    justify-content: left;
    display: flex;
    flex-direction: column;
    height: 25vw;
    width: 40vw;
    padding: 10px;
    overflow: scroll;
}

#cart li {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
}

.left-block {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
}

.right-block {
    grid-column-start: 2;
}

input {
    font-size: 10px;
    border: none;
}

#button-add {
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black;
}

#button-remove {
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black;
}

button,
#button-checkout {
    float: right;
    width: 120px;
    height: 30px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black;
}

input,
#button-add,
#button-remove {
    width: 80px;
    margin: 6px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    outline: none;
}

#button-add:hover,
#button-remove:hover,
#button-checkout:hover {
    box-shadow: 2px 2px 0 black;
}

footer {
    color: #bbbbbb;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}

a,
a:hover {
    color: black;
}
